<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontrola światła</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<div class="container">
		<h1>Światło jest <b>{% if status == 0 %} zgaszone {% else %} włączone {% endif %}</b></h1>
		{%if status == 0 %}
		<a href="/on" class="turnOn" role="button">Włącz światło</a>
		{% else %}
		<a href="/off" class="turnOff" role="button">Zgaś światło</a>
		{% endif %}
		<button id="showTimer">Wywołanie czasowe</button>
		<p id="timeToRefresh">Czas</p>
		<div class="timerPanel">
			<form action="/timer" method="GET">
				<div class="timerButtons">
					<button type="button" id="timerToOn">Włącz</button>
					<button type="button" id="timerToOff">Wyłącz</button>
					<div class="hiddenDiv">
						<input type="text" name="action" id="actionInput" class="hiddenInput" required>
					</div>
					<p>po:</p>
				</div>
				<div class="timerInput">
					<input type="number" name="time" min="1" max="60" value="1" id="timeValue">
					<input type="range" id="timeSlider" class="slider" value="1" min="1" max="30">
				</div>
				<div class="timerButtons">
					
					<button type="button" id="timerToSec">Sekund</button>
					<button type="button" id="timerToMin">Minut </button>
				</div>
				<div class="hiddenDiv">
				<input type="text" name="type" id="typeInput" class="hiddenInput" required>
				</div>
				<div class="timerButtons" id="div2">
					<button type="submit">Ustaw wywołanie</button>
				</div>
			</form>
		</div>
	</div>
	<script>
		{% if not (czas == None ) %} 
			var czas = {{czas}};
			var timeToSwitch = new Date({{timeToSwitch}});
			let now = new Date();
			let timeLeft = (timeToSwitch.getTime() - now.getTime()) / 1000;
			console.log(timeToSwitch);
			console.log(now);
			console.log(timeLeft);
			setInterval(function() {
				document.getElementById("timeToRefresh").innerHTML = parseInt((timeToSwitch.getTime() - now.getTime()) / 1000);
				now = new Date();
			}, 1000);

		{% else %}
			var czas = null;
		{% endif %}
	</script>
	<script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
